body, {
    font-family: 'Orbitron', sans-serif !important;
  
}  

main {
    background-color: $black;
  }
@font-face {
    font-family: 'spacetech';
    src:url('/fonts/Spacetech.ttf')
}
.navbar-brand {
    font-family: 'spacetech' !important;
}
.about {
    margin-top: 3px;
    color: $white;
    padding: 10px;
    h2 {
        font-family:'spacetech';
        font-size:45px;
        color: $heading-color;
        animation: start-animation 1.5s ease-in-out infinite alternate;
        text-align: center;
        padding-bottom: 30px;
        padding-top: 30px;
        
    }
}

main{
    &.home, &.gamePlay, &.history, &.contacts {
       display: none;
     }
    }
 
.en {
    display:none;
}
 

picture > a > img{
    max-width: 100%;
    min-height: 200px;
}

.pausedGame {
    display:none;
    position: absolute;
    
    width: 100%;
    text-align: center;
    top: 25vh;
  }

  .gameStart {
    
    display:none;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 25vh;
        
  }

  @keyframes start-animation {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff0000, 0 0 70px #ff0000, 0 0 80px #ff0000, 0 0 100px #ff0000, 0 0 150px #ff0000;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff0000, 0 0 35px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000, 0 0 75px #ff0000;
    }
  }

  .startGameText {
      font-family:'spacetech';
      color:#8b0000;
      animation: start-animation 1.5s ease-in-out infinite alternate;
  }

  .gameOverText {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff0000, 0 0 70px #ff0000, 0 0 80px #ff0000, 0 0 100px #ff0000, 0 0 150px #ff0000;
  }

  .gamePlay {
      background-image:url('/images/gameContBg.jpg');
      
      background-size:cover;
  }
 


 

  
  