
.game {
    background-image:url('/images/gamebg.png');
    color:$black;
    border:15px ridge darkred;
    border-bottom: 2px solid black;
}

.pausedGame {
    display:none;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 25vh;
  }

  .gameStart {
    display:none;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 25vh;
        
  }

  @keyframes start-animation {
    from {
      text-shadow: 0 0 10px $white, 0 0 20px $white, 0 0 30px $white, 0 0 40px $secondary-color, 0 0 70px $secondary-color, 0 0 80px $secondary-color, 0 0 100px $secondary-color, 0 0 150px $secondary-color;
    }
    to {
      text-shadow: 0 0 5px $white, 0 0 10px $white, 0 0 15px $white, 0 0 20px $secondary-color, 0 0 35px $secondary-color, 0 0 40px $secondary-color, 0 0 50px $secondary-color, 0 0 75px $secondary-color;
    }
  }

  .startGameText {
      font-family:'spacetech';
      color: $heading-color;
      animation: start-animation 1.5s ease-in-out infinite alternate;
  }

  .gameOverText {
      text-shadow: 0 0 10px $white, 0 0 20px $white, 0 0 30px $white, 0 0 40px $secondary-color, 0 0 70px $secondary-color, 0 0 80px $secondary-color, 0 0 100px $secondary-color, 0 0 150px $secondary-color;
  }

  .gamePlay {
      background-image:url('/images/gameContBg.jpg');    
      background-size:cover;
  }

  @media (min-width: 1281px) {
    .gameStart {
        font-size:22px;
    }
    .startGameText {
        font-size:60px;
    }
    .gameOverText {
        font-size:40px;
    }
    .pausedGame {
        font-size:20px;
    }
    .game-over {
        font-size:22px;
    }   
    
  }
  
 
  @media (min-width: 768) and (max-width: 1280px) {
    
    .gameStart {
        font-size:18px;
    }
    .startGameText {
        font-size:45px;
    }
    .gameOverText {
        font-size:30px;
    }
    
    .game-over {
        font-size:18px;
    }   
    
  }
  

  @media (max-width: 767px) {
      .startGameText {
          font-size: 35px;
      }
      .gameOverText {
        font-size:24px;
      }
  }
